* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  overflow: hidden;
  text-align: center;
  background-image: url("/img/Home-cinema-pana.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Alkatra', 'cursive';
}

.container {
  align-content: center;
  padding: 1.5rem;
  margin: 50px 100px 50px;
  
}

.header {
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  font-family: 'Alkatra', 'cursive';
}

h2 {
  color: black;
  font-weight: 400;
  font-size: 34px;
  line-height: 80px;
  font-family: 'Alkatra', 'cursive';
}

button {
  cursor: pointer;
  margin-top: 140px;
  padding: 10px 20px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 15px;
  color: black;
  background-color: #FF725E;
}

button:hover {
  text-decoration: none;
  color: #FF725E;
  background-color: white;
  transition: 0.2s;
}

p {
  color: black;
  font-weight: 400;
  font-size: 24px;
  margin-top: 100px;
}


