* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  overflow: hidden;
  text-align: center;
  background-image: url("img/Home-cinema-pana.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Alkatra', 'cursive';
}

.btn {
  border: none;
  cursor: pointer;
  margin-top: 260px;
  padding: 10px 20px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  background-color: #FF725E;
}

.btn:hover {
  text-decoration: none;
  color: #FF725E;
  background-color: black;
  transition: 0.2s;
}




