* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  /*overflow: hidden;*/
  text-align: center;
  background-image: url("img/Home-cinema-pana.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Inter', sans-serif;
}

::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.container {
  display: flex;
  align-content: center;
  padding: 1.5rem;
  margin: 50px 100px 50px;
}

header {
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  font-family: 'Alkatra', 'cursive';
}

h2 {
  color: black;
  font-weight: 400;
  font-size: 34px;
  line-height: 80px;
  font-family: 'Alkatra', 'cursive';
}

.cad-form,
.edit-form,
.search-form,
#result-form {
  align-items: center;
  padding: 1rem;
  font-size: 30px;
  width: 33%;
  font-family: 'Alkatra', 'cursive';
}

.cadastro,
.search,
.editar,
.result {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 15px;
  max-width: 500px;
  background-color: rgb(255,114,94, 0.7);
}

#filter {
  margin-top: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#filter-select {
  padding: 0 auto;
  font-size: 16px;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  line-height: 10px;
  width: 70%;
  font-weight: bold;
}

.hide {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

input {
  padding: 0.3rem 0.5rem;
  line-height: 10px;
  width: 70%;
  font-weight: bold;
}

input:hover {
  background-color: lightgray;
}

button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background-color: #FF725E ;
  transition: 0.2s;
}

button:hover {
  color: #FF725E;
  background-color: black;
  transition: 0.2s;
}

















