* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  @media (min-width:360px) {
    body {
        background-image: url("images/home-cinema-rafiki-360.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:768px) {
    body {
        background-image: url("images/home-cinema-rafiki-768.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:992px) {
    body {
        background-image: url("images/home-cinema-rafiki-992.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width:1200px) {
    body {
        background-image: url("images/home-cinema-rafiki-1200.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.max-container {
  text-align: center;
  background-image: url("images/Home-cinema-rafiki.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Alkatra', 'cursive';
  background-color: rgb(200, 200, 247);
}

::placeholder {
  color: black;
  font-size: 15px;
  font-weight: 100;
}

.container {
  margin-bottom: 74px;
  display: flex;
  align-content: center;
  padding: 1.5rem;
}

header {
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  font-family: 'Alkatra', 'cursive';
}

h2 {
  color: black;
  font-weight: 400;
  font-size: 34px;
  line-height: 80px;
  font-family: 'Alkatra', 'cursive';
}

.cad-form,
.edit-form,
.search-form,
#result-form {
  margin: 0 auto;
  border-radius: 15px;
  align-items: center;
  padding: 1rem;
  font-size: 30px;
  width: 25%;
  font-family: 'Alkatra', 'cursive';
}

.cadastro,
.search,
.editar{
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  border-radius: 15px;
  background-color: rgb(114, 114, 247, 0.4);
}

.result {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  border-radius: 15px;
  background-color: rgb(114, 114, 247, 0.4);
}

#filter {
  margin-top: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#filter-select {
  padding: 0 auto;
  font-size: 16px;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  line-height: 10px;
  width: 70%;
  font-weight: bold;
}

.hide {
  display: none;
}

textarea {
  padding: 0.5rem;
  font-size: 18px;
  box-shadow: 0 0 0 0;
  outline: 0;
  max-width: 70%;
  max-height: 200px;
  resize: none;
  border: 1px solid #7876e4;
  background-color: rgb(114, 114, 247, 0.4); 
}

label {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: 'Alkatra', 'cursive';
}

input {
  padding: 0.3rem 0.5rem;
  line-height: 10px;
  width: 70%;
  font-weight: bold;
}

input:hover {
  background-color: lightgray;
}

button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background-color: #7876e4;
  transition: 0.2s;
}

button:hover {
  color: white;
  background-color: #615eff;
  transition: 0.2s;
}

footer
{
  margin-top: 300px;
  width: 100%;
  height: 60px;
  position: sticky;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 200;
  font-size:large;
  background-color: rgb(114, 114, 247, 0.2);
  color: black;
}

















