* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  text-align: center;
  padding-top: 160px;
  background-image: url("Movie\ Night-cuate.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Inter', sans-serif;
}
::placeholder {
  color: black;
}

.container header {
  text-align: center;
  padding: 0 1rem 1rem;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  font-family: 'Alkatra', 'cursive';
}

#cad_form, #edit-form {
  
  font-family: 'Alkatra', 'cursive';
  font-size: 30px;
  padding: 1rem;
  border-bottom: 1px solid #CCC;
}

#cad_form p, 
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color:black;
}

button {
  margin-top: 100px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border-radius: 15px;
  background-color: #FFC700;
  color: black;
  opacity: 0.7;
}

button:hover, 
.btn_secondary {
  text-decoration: none;
  color: #FFC700;
  background-color: black;
  opacity: 0.7;
}

button i {
  color: #102F5e;
  font-weight: bold;
  pointer-events: none;
}

input, select {
  width: 20rem;
  background-color: #FFC700;
  padding: 0.25rem 0.5rem;
  opacity: 0.7;
  line-height: 24px;
  font-size: 20px;
}